.aboutus{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    position: relative;
}

.meetteam {
    margin-top: -42%;
}

.wave {
    margin-top: 7%;
    z-index: -100;
}

.introduceteam{
    position: absolute;
    left: 5%;
    margin-top: 7%;
    transform: translateY(-50%);
}

.whoarewe {
    text-align: left;
}

.teamdesc {
    width: 40%;
    text-align: left;
}

/*Create card box for creating cards automatically*/
.membercard{
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 30px;
}

/*Set card design*/
.card{
    color: white;
    height: 110%;
}

.memberpic{
    margin-top: 20%;
    width: 60%;
}
/*Set nickname style*/
.nickname{
    margin-top: 20%;
    font-weight:600;
    font-size:large;
}

/*Set name style*/
.name{
    margin-top: 10%;
    font-weight:300;
    margin-bottom: 2%;
}

/*Set role of ui designer style*/
.role{
    margin-top: 10%;
    font-weight:600;
}

