
.infobox{
    margin-top: -7%;
    width: 80%;
    z-index: -100;
}

.appname{
    margin-top: -47%;
    color: #F0A830;
    font-size: 60px;
    -webkit-text-stroke: 0.7px black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.kohubmoreinfo{
    margin-top: -2%;
    text-indent: 70px;
    width: 40%;
    text-align: left;
    z-index: 1;
    margin-left: 30%;
    color:black;
    font-size:larger;
    line-height: 180%;
}
