* {
  text-align: center;
}


.home-display{
  display: flex;
  margin-left: -50.5%;
  margin-top: -5%;
}

.homeinfo{
  display: flex;
  flex-direction: column;
  margin-top: -63%;
  margin-left: 5%;
  width: 31%;
}
.kohubname{
  z-index: 1;
  margin-bottom: 2%;
  color: #F0A830;
  font-size: 90px;
  -webkit-text-stroke: 0.7px black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.kohubinfo{
  text-align: left;
  z-index: 1;
  margin-left: 10%;
  color:white;
  font-size:large;
}

.interation{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.findspace {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #D93753;
  border:#D93753;
  color:white;
  border-radius: 25px;
  font-size: 15px;
  width: 35%;
  line-height: 200%;
}

.findspace:hover {
  background-color: #DB6154;
  border:#DB6154;
}

.findspace:active {
  background-color: #983C32;
  border:#983C32;
}

.moreinfo {
  margin-top: 5%;
  margin-left: 7%;
  background-color: transparent;
  border:1.5px solid #FFFFFF;
  color:white;
  border-radius: 25px;
  font-size: 15px;
  width: 35%;
  line-height: 200%;
}

.moreinfo:hover {
  border: 1.5px solid #D9DDDC;
  color:white;
}

.moreinfo:active {
  border: 1.5px solid #D9DDDC;
  color:#FCEBB6;
}

.duckfloat1{
  margin-left: -13%;
  transform: scaleX(-1);
  width: 600%;
  z-index: -1;
}
.duckfloat2{
  width: 500%;
  z-index: -1;
}